<h2><%= article.title %> <span class="badge badge-secondary"> New </span></h2>
<em> Keywords: <%= article.keywords %></em>
<p>Writen by: <%= article.author.email %></p>
<p><%= article.body %></p>
<b> Created at: <%= article.created_at.strftime("%d/%m/%y") %></b>
<br>
<u> Last modification: <%= article.updated_at.strftime("%d/%m/%y") %></u>
