<h2><%= article.title %></h2>
<em><%= article.keywords %></em>
<p>Writen by: <%= article.author %></p>
<p><%= article.body %></p>
<b><%= article.created_at %></b>
<u><%= article.updated_at %></u>
<%= link_to(article_path(article.id), method: 'delete') do %>
  Delete this Article
<% end %>
