<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label(:name, "Name:") %>
  <%= f.text_field(:name) %>
  <br/>
    <%= f.label(:text, "Comment:") %>
  <%= f.text_field(:text) %>
  <br/>
  <%= f.submit("Save") %>
<% end %>
