<h1>List of Articles</h1>
<%= link_to new_article_path do %>
  Add a new article
<% end %>
<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <%= link_to article_path(article.id) do %>
    Read the article!
  <% end %>
  <br/>
  <em><%= article.keywords %></em>
  <p>Writen by: <%= article.author.email %></p>
<% end %>
