<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>List of Articles</h1>
      <%= link_to new_article_path do %>
        Add a new article
      <% end %>
    </div>
  </div>
  <% @articles.each_slice(3) do |articles_trio| %>
    <div class="row">
      <% articles_trio.each do |article| %>
        <div class="col-md-4">
          <h2>
            <%= article.title %>    
          </h2>
          <%= link_to article_path(article.id) do %>
            Read the article!
          <% end %>
          <br/>
          <em><%= article.keywords %></em>
          <p>Writen by: <%= article.author.email %></p>
        </div>  
      <% end %>
    </div>
  <% end %>
</div>
