<h1>The Article</h1>

<%= render 'article', article: @article %>
<br/>
<%= link_to "Articles Index", articles_path %>
<br/>
<%= link_to edit_article_path(@article.id) do %>
  Edit this Article
<% end %>
<br/>
<%= link_to article_path(@article.id), method: 'delete', data: { confirm: 'Are you sure?' } do %>
  Delete this Article
<% end %>
<br/>
<%= link_to new_article_comment_path(article_id: @article.id) do %>
  Comment this Article
<% end %>
<hr/>
<% @article.comments.each do |comment| %>
  <div class="comment">
    <b>Name: <%= comment.author.email %></b>
    <br/>
    Comment: <%= comment.body %>  
  </div>
<% end %>
